/*
Theme Name: static
Theme URI: 
Author: static
Author URI: 
Description: Wordpress Themes optimize SEO, Speed, Schema..
Version: 2021.1
License: GNU General Public License
License URI: 
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: i

i WordPress Theme © 2021 static
i is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

* {
    transition: all 0.3s;
}
strong,b{ font-weight: bold; }
em { font-style: italic; }
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: initial;
    color: #222;
    
}
ol {
    padding-left: 25px;
    list-style: decimal;
}

ol li {
    margin-bottom: 16px;
}
.alignright{
    float: right;
}

.wrap{ 
	max-width: 1200px; 
	margin: auto;
}
h1,h2,h3,h4,.same-h2,.same-h3,.same-h4 {
    text-transform: capitalize;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
}
.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content .same-h2,.entry-content .same-h3,.entry-content .same-h4,.wrap-post h2,h1.entry-title{
    letter-spacing: -1px;

}
h1{ font-size: 28px; text-transform: uppercase;  }
h2,.same-h2{ font-size: xx-large; }
h3,.same-h3{ font-size: x-large; }
h4,.same-h4{ font-size: larger; }
.entry-content h3 {
    background: linear-gradient(transparent 70%,#c8eeff 0);
    display: initial;
    font-style: italic;
}
.entry-content h3 + * {
    margin-top: 16px;
}
a:hover {
    color: #128fca;
}

a {
    color: inherit;
}

.entry-content a {
    font-weight: 700;
}

p, ul,.entry-content ul li {
    margin-bottom: 15px;
}
img {
    max-width: 100%;
    height: auto;
} 
ul{
    padding-left: 18px;
}
.entry-content ul {
    list-style: square;
}
.entry-content h2,.same-h2{
    color: #128fca;
}
.aligncenter, .alignnone {
    display: block;
    margin: auto;
    margin-bottom: 16px;
    text-align: center;
}
/***********HEADER*************************************/
/******************************************************/
#logo {
    height: 145px;
    margin: 0;
	display: flex;
    align-items: center;
}

#header .wrap {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

body:not(.home) #header {
    /*border-bottom: 2px solid #f3f4f5;*/
    margin-bottom: 40px;
    box-shadow: 0 15px 30px 0 rgb(119 123 146 / 10%);
}
body.home #header {
    box-shadow: 0 15px 30px 0 rgb(119 123 146 / 10%);
    position: relative;
    z-index: 1;
}
#main-menu li {
    display: inline-block;
    margin-left: 8px;
}

#main-menu li a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    padding: 8px 10px;
}

#main-menu li a:before {
    font-size: 20px;
    font-weight: normal;
    margin-right: 5px;
    line-height: 20px;
}

#main-menu li:nth-child(3) a:before {
    content: "\2655";
}

#main-menu li:last-child a {
    background: #128fca;
    color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 20%);
}
#main-menu li:last-child a:hover{
    background: #33a2d6;
    color: #fff;
}
#main-menu li a:hover {
    color: #128fca;
}
#menu_mobile{
    display: none;
}
#menu_mobile:before {
    content: "\2261";
    font-size: 40px;
    font-weight: bold;
    transform: scale(1.5,1);
    display: inline-block;
    line-height: 0.5;
    cursor: pointer;
}
#menu_mobile.show:before{
    content: "\2A2F";
    transform: inherit;
    font-size: 50px;
}
/*sub menu*//*sub menu*//*sub menu*//*sub menu*//*sub menu*/
/*sub menu*//*sub menu*//*sub menu*//*sub menu*//*sub menu*/
#header .menu {
    margin: 0;
    padding: 0;
}

ul.sub-menu {
    position: absolute;
    z-index: 1;
    background: #fff;
    display: none;
    padding: 0;
}

#main-menu .sub-menu li {
    display: block;
    margin: 0;
} 

#main-menu .sub-menu li a {
    padding: 10px 20px;
    display: block;
    border: solid 1px #f3f4f5;
    border-width: 1px 1px 0 1px;
    font-weight: normal;
}
#main-menu .sub-menu li:last-child a {
    border-width: 1px;
}

#main-menu li:hover ul {
    display: block;
}

/***********MAIN*************************************/
/******************************************************/
main#content {
    max-width: 800px;
    display: inline-block;
    margin-bottom: 50px;
}

div#container {
    position: relative;
}

aside#sidebar {
    max-width: 360px;
    float: right;
    position: sticky;
    top: 16px;
}
#breadcrumbs a {
    text-decoration: none;
}

#breadcrumbs {
    color: #565959;
    margin-bottom: 8px;
}
.single article header {
    margin-bottom: 16px;
}
.related-posts-list {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 25px;
    margin-bottom: 50px;
}
a.related-post {
    text-decoration: none;
}

.related-posts-list img {
    width: 100%;
}

span.related-post-title {
    font-weight: 600;
    margin-top: 5px;
    display: block;
}

#content.full {
    max-width: 100%;
    width: 100%
}

/*Comment style*/
span.title_comment {
    font-size: 20px;
    color: #606664;
    line-height: 1.3em;
    font-weight: 700;
    margin: 0 0 15px;
    display: inline-block;
}
.comment-author.vcard {
    width: 25px;
}
#formcmmaxweb {
    overflow: hidden;
    position:relative;
    margin-bottom: 20px;
}
#formcmmaxweb .nameuser {
    text-align: left;
}
#formcmmaxweb .avatarmw img {
    float: left;
    margin: 5px 10px 0 0;
    border: 1px solid #ccc;
    padding: 5px;
}
.comments-title-maxweb {
    margin: 30px 0;
    font-weight: normal;
}
.commentlist {
    margin-top: 10px;
}
.comment-author.vcard {
    float: left;
    clear: both;
    z-index: 2;
    position: relative;
    text-align: center;
}
.commentlist .comment{
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}
.commentlist .children {
    margin-top: 10px;
}
.commentBody em {
    color: red;
}
.commentBody {
    position: relative;
    margin-left: 35px;
    overflow: hidden;
}
.comment-meta.commentmetadata {
    position: relative;
    padding: 0;
    margin: 0 0 5px;
}
.noidungcomment {
    font-size: 16px;
    line-height: 24px;
}
.cancel-comment-reply a {
    font-size: 14px;
    text-decoration: none;
    color: #a9883f;
}
.nocomments {
    border-color: #D98D8D;
    background-color: #FFCECE;
    background-position: left -792px;
    color: #665252;
    padding: 10px;
}
.comment-meta.commentmetadata .ngaythang {
    position: absolute;
    top: 0;
    right: 0;
    color: #337ab7;
    opacity: 0.3;
    font-size: 12px;
}
.commentBody:hover .comment-meta.commentmetadata .ngaythang{
    opacity: 1;
}
.commentBody .reply {
    float: right;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.comment-meta.commentmetadata .fn {
    font-weight: 700;
    color: #333;
    margin: 0;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 22px;
    margin-top: 2px;
}

.commentlist_mw,
.commentlist_mw .children {
  list-style: none;
}
.commentlist_mw .comment{
    margin-bottom: 10px;
}
.commentlist_mw > .children{
    margin: 10px 0 15px 35px;
    background: #f1f1f1;
    padding: 10px;
    position: relative;
}
.commentlist_mw > .children:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 14px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #f1f1f1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
div.error {
    color: red;
    font-size: 12px;
    text-align: left;
    line-height: 16px;
    margin: 3px 0 0;
}
.tools_comment a { 
    color: #266abb;
    font-size: 14px;
    position: relative;
    padding: 0 15px 0 0;
    margin: 0 7px 0 0;
    line-height: 14px;
}
.tools_comment a:after {
    content: "";
    width: 4px;
    height: 4px;
    top: 50%;
    margin-top: -2px;
    background: #999;
    position: absolute;
    right: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.tools_comment a:last-child:after{
    display: none;
}
.tools_comment a:last-child{
    padding: 0;
    margin: 0;
}
.noidungcomment p {
    margin: 0 0 5px;
}
#formcmmaxweb  input[type="submit"],
#formcmmaxweb input[type="button"],
#formcmmaxweb input[type="reset"],
#formcmmaxweb article.post-password-required input[type=submit],
#formcmmaxweb li.bypostauthor cite span {
    padding: 6px 10px;
    padding: 0.428571429rem 0.714285714rem;
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 1.428571429;
    font-weight: normal;
    color: #7c7c7c;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
#formcmmaxweb button, #formcmmaxweb input, #formcmmaxweb textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-family: inherit;
    padding: 6px;
    padding: 0.428571429rem;
}
#formcmmaxweb button,
#formcmmaxweb input[type="submit"],
#formcmmaxweb input[type="button"],
#formcmmaxweb input[type="reset"] {
    cursor: pointer;
}
.reply a.comment-reply-link {
    color: #337ab7;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}
.reply a.comment-reply-link:hover {
    color: #c7a611;
}
#formcmmaxweb p,
#formcmmaxweb input,
#formcmmaxweb textarea{
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 14px;
}
#formcmmaxweb input,
#formcmmaxweb textarea{
    border: 1px solid #d7d7d7;
    color: #2e2e2e;
    display: block;
}
#formcmmaxweb input:focus,
#formcmmaxweb textarea:focus{
    border-color: #337ab7;
}
#formcmmaxweb p{
    margin-bottom: 10px;
    text-align: center;
}
#formcmmaxweb #commentform p{   
    overflow: hidden;
}
#formcmmaxweb .name-email p{
    width: 50%;
    float: left;
}
#formcmmaxweb .name-email p:first-child{
    padding-right: 5px;
}
#formcmmaxweb .name-email p:last-child{
    padding-left: 5px;
}
#formcmmaxweb input#submit {
    width: auto;
    font-weight: 400;
    color: #fff;
    background: #337ab7;
    padding: 6px 20px;
    border: none;
    float: left;
    font-size: 16px;
    outline: none;
}
#formcmmaxweb input#submit:hover {
    background: #c7a611;
}
#formcmmaxweb  ::-webkit-input-placeholder {
   color: #999999;
}

#formcmmaxweb ::-moz-placeholder { /* Firefox 18- */
   color: #999999;  
}

#formcmmaxweb ::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;  
}

#formcmmaxweb ::-ms-input-placeholder {  
   color: #999999;  
}
/*#comment style*/

#sidebar .widget_ultimate_posts img {
    float: left;
    margin-right: 16px;
}

#sidebar .widget_ultimate_posts a {
    display: inline-block;
    margin-bottom: 16px;
    /* text-decoration: none; */
    /* font-weight: 600; */
}

#sidebar .widget_ultimate_posts .post-title {
    font-size: large;
}

.widget-title {
    margin-bottom: 16px;
}

/*HOME*//*HOME*//*HOME*//*HOME*//*HOME*//*HOME*//*HOME*/
/*HOME*//*HOME*//*HOME*//*HOME*//*HOME*//*HOME*//*HOME*/


/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

/*single-post*//*single-post*//*single-post*//*single-post*/
/*single-post*//*single-post*//*single-post*//*single-post*/
/*single-post*//*single-post*//*single-post*//*single-post*/

.entry-content ul ul {
    margin-top: 16px;
    list-style: disc;
}

#commentform label {
    display: none;
}
tbody tr:first-child {
    background: #128fca!important;
    color: #fff;
    font-weight: 500;
}
tbody tr:nth-child(2n+1) {
    background: #eaf9ff;
}

table {
    margin-bottom: 16px;
}
td,th {
    padding: 8px;
    border: solid 2px #fff;
}

tbody tr:nth-child(2n) {
    background: #cfeffd;
}

.widget-home.widget_ultimate_posts.ngang {
    width: 100%;
}

.widget-home.widget_ultimate_posts.ngang a {
    width: calc(33.33% - 20px);
    vertical-align: top;
    margin-right: 30px;
    float: left;
}

.widget-home.widget_ultimate_posts.ngang a:nth-of-type(3n) {
    margin-right: 0;
}
.rp4wp-related-posts ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 26px;
}
.no-dot.how_to li img {
    margin: -20px -20px 20px;
    max-width: calc(100% + 40px);
}
ul.how_to.no-dot{
    max-width: 100%
}
.rp4wp-related-posts ul img {
    display: block;
    margin-bottom: 6px;
}
blockquote {
    font-style: italic;
    font-size: large;
    background: #cfeffd;
    padding: 25px 15px 25px 60px;
    border-left: solid 5px #128fca;
    position: relative;
    margin-bottom: 25px;
}

blockquote p {
    margin: 0;
}

blockquote:before {
    content: "\275D";
    font-size: 50px;
    font-style: normal;
    color: #128fca;
    position: absolute;
    left: 15px;
    top: 13px;
}

blockquote span {
    display: block;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    color: #128fca;
    font-size: initial;
    text-transform: capitalize;
}
td[colspan="3"] {
    text-align: center;
    font-weight: bold;
}
.pt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	gap:15px;
}

.pt-right a {
    display: block;
    margin: 15px 0;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 500;
    padding: 7px;
    color: #fff;
    text-transform: uppercase;
}


h1.entry-title {
    text-align: center;
}

header#header {
    margin-bottom: 35px;
}

#header .wrap {
    justify-content: space-around;
}


ul.list-website {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.list-website li {
    width: 300px;
    padding: 15px 10px;
    background: #31a24c;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.list-website li:last-child {
    background: #0866ff;
}
.list-website li:first-child {
    color: #262626;
}
.footer-copyright {
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
#view-full {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}
#view-full .button {
    background-color: #e78827;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    padding: 13px 35px;
    display: inline-block;
    font-size: 18px;
}
#view-full .button::after {
    content: "\27A3";
    font-size: 30px;
    float: right;
    line-height: 27px;
    margin-left: 10px;
}
#view-full .button:hover {
    background-color: #d16f0b;
}
.footer-copyright {
    color: #333;
}
body.home #header {
    background-color: black;
}
p.bnt-home {
    display: block;
    margin: 35px auto 30px;
    text-align: center;
    width: 220px;
    background: #09b4fc;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
    position: relative;
}
.glow-on-hover::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0b435a;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.glow-on-hover::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover::before {
    opacity: 1;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
body.home #header {
    background-color: #e5e7ea;
}
body:not(.home) #header {
    background-color: #e5e7ea;
}
.ads-bn {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}
.ads-bn.mb {
    display: none;
}
body.home #header {
    background-color: #000;
}
#view-full .button {
    background-color: #bf0c0c;
}
#view-full .button:hover {
    background-color: #d31c1c;
}
body {
    background-color: #000;
    color: #c4c4c4 !important;
    font-size: 17px;
}
h1, h2, h3, h4, .same-h2, .same-h3, .same-h4 {
    color: #c4c4c4;
}
body.home #header {
    box-shadow: 0px 1px 0px 0px rgba(51,51,51,1);
}
.entry-content h3 {
    background: linear-gradient(transparent 70%,#2f363a 0);
}
.wrap {
    max-width: 1100px;
}
.entry-content h2, .same-h2, .footer-copyright {
    color: #c4c4c4;
}
#footer {
    border-top: 1px solid #333;
    padding-top: 45px;
    font-size: 15px;
}
#logo {
    height: 100px;
}

/*start MOBILE******************************************************************************************************************/
@media only screen and (max-width: 1240px) {
    .wrap {
        padding: 0 20px;
    }
    #container {
        overflow: hidden;
    }
    main#content {
        max-width: calc(100% - 340px);
    }
}
@media only screen and (max-width: 900px) {

    main#content,aside#sidebar {
        max-width: 100%;
        float: none;
    }
    .wrap-post {
        grid-template-columns: auto;
    }
} 
@media only screen and (max-width: 768px) {
	
    #menu_mobile {
        display: block;
    }

    nav#main-menu {
        display: none;
        position: absolute;
        background: #1b272c;
        color: #fff;
        left: 0;
        top: 70px;
        z-index: 10;
        width: 100%;
    }

    nav#main-menu.show_menu {
        display: block;
    }

    #header {
        position: relative;
    }

    #main-menu li {
        display: block;
        margin: 0;
    }

    #main-menu li a {
        padding: 10px 20px;
    }

    #main-menu .menu > li > a {
        border-bottom: solid 1px #9a9393;
        display: block;
    }

    ul.sub-menu {
        position: inherit;
        display: block;
        background: #464c4e;
        margin-bottom: 0;
    }

    #main-menu .sub-menu li a {
        border-width: 0 0 1px 0;
        border-color: #9a9393;
    }

    #main-menu .sub-menu li:last-child a {
        border-width: 0;
    }

    ul.ez-toc-list {
        columns: 1;
    }

    #ez-toc-container {
        padding: 10px 20px;
    }

    p.ez-toc-title {
        margin-bottom: 0;
    }
    .more img {
        float: none;
        margin: 0 auto 8px;
        display: block;
        width: 100%;
    }

    .more a {
        font-size: larger;
        margin-bottom: 10px;
    }

    .more span {
        position: initial;
        display: block;
        float: none;
        color: #6f6f6f;
        margin-top: 15px;
    }

    .more {
        color: #484848;
        padding: 15px;
    }
    
    p.same-h2.related_head {
        color: initial;
        text-transform: uppercase;
    }

    .related-posts-list {
        display: inherit;
        margin-bottom: 15px;
    }
    footer#footer {
        padding: 40px 0;
    }
    a.related-post {
        display: inline-block;
        margin-bottom: 15px;
    }

    #footer .widget-home {
        width: 100%;
        margin: 0 0 15px;
    }
    .wrap-post a img {
        float: none;
        margin: 0;
    }

    .wrap-post {
        grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
        grid-gap: 15px;
    }

    .wrap-post a p {
        display: none;
    }

    .wrap-post h2 {
        font-size: 100%;
        line-height: unset;
        display: inline-block;
        float: left;
        FONT-WEIGHT: 600;
    }
    .widget-home .widget-title,h2.title-home {
        font-size: x-large;
        margin-bottom: 20px;
    }

    .widget-home .custom-html-widget {
        grid-template-columns: auto auto;
        grid-gap: 15px;
    }

    .widget-home .custom-html-widget .logo img {
        margin: 0;
        padding: 20px;
    }

    .logo span {
        font-size: 15px;
        padding: 8px;
    }

    #custom_html-2 .widget-title {
        padding-top: 25px;
    }

    .widget-home {
        margin-bottom: 30px;
    }

    .widget-home.widget_ultimate_posts {
        width: 100%;
    }

    #footer ul li a {
        padding: 14px 0;
        display: inline-block;
    }

    .product {
        grid-template-columns: auto;
        grid-gap: 40px;
        box-shadow: none;
    }

    .product a {
        box-shadow: 0 5px 10px 0 rgb(29 28 28 / 15%);
        border-right: 1px solid #cbcbcb;
    }
    .widget-home.widget_ultimate_posts.ngang a{width:100%}
    .rp4wp-related-posts ul {
        display: block;
    }

    .rp4wp-related-posts ul img {
        max-width: 150px;
        float: left;
        margin-right: 16px;
        margin-bottom: 0;
    }

    .rp4wp-related-posts li {
        display: inline-block;
        margin-bottom: 20px;
    }
    .entry-content h2, .same-h2 {
        font-size: x-large;
    }

    h3, .same-h3 {
        font-size: larger;
    }
    .widget-banner#custom_html-2 .custom-html-widget {
    display: block;
    padding-top: 25px;
    }

    .wrap_text h1 {
        font-size: xx-large;
        margin-bottom: 20px;
    }

    #custom_html-2 img {
        max-width: 250px;
        display: block;
        float: none;
        margin: auto;
        padding: 0;
    }

    .wrap_link {
        grid-template-columns: auto auto;
        /* grid-gap: 12px; */
    }

    .wrap_link img {
        max-width: 80%;
    }

    #news_popular section:first-child img {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }

    #news_popular section:first-child .post-title {
        font-size: larger;
    }

    #news_popular section:first-child div {
        margin-bottom: 10px;
    }

    .cat-home {
        margin-left: 0;
    }

    #footer ul li a {
        padding: 5px 0;
    }

    ul.list-website {
        flex-direction: column;
        margin: 0;
    }
    #logo {
    height: 90px;
    }
    .ads-bn.mb {
        display: block;
        text-align: center;
    }
    .ads-bn.pc {
        display: none;
    }
}